## Pandas Series
- 1D array of indexed data

In [1]:
import pandas as pd

### 1. Define and create a Dataframe using Pandas.

##### Define Data frame: A data frame is a table or a two-dimensional array-like structure in which each column contains values of one variable and each row contains one set of values from each column. ... The data stored in a data frame can be of numeric, factor or character type. Each column should contain same number of data items.

In [18]:
# Import pandas package 
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['bansari', 'deepak', 'simran', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
df

      Name  Height Qualification
0  bansari     5.1           Msc
1   deepak     6.2            MA
2   simran     5.1           Msc
3     Anuj     5.2           Msc

In [2]:
# import pandas library as pd
import pandas as pd

# create an Empty DataFrame object
df = pd.DataFrame()

print(df)

# append columns to an empty DataFrame
df['Name'] = ['Ankit', 'Ankita', 'Yashvardhan']
df['Articles'] = [97, 600, 200]
df['Improved'] = [2200, 75, 100]

df

Empty DataFrame
Columns: []
Index: []

          Name  Articles  Improved
0        Ankit        97      2200
1       Ankita       600        75
2  Yashvardhan       200       100

### 2. How can we calculate the standard deviation from the series.

In [6]:
import numpy as np
 
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','Cathrine','Madonna','Rocky','Sebastian','Jaqluine',
   'Rahul','David','Andrew','Ajay','Teresa'],
   'Score1':[62,47,55,74,31,77,85,63,42,32,71,57],
   'Score2':[89,87,67,55,47,72,76,79,44,92,99,69],
   'Score3':[56,86,77,45,73,62,74,89,71,67,97,68]}

df = pd.DataFrame(d)
answer= df.std()
print("The standard deviations of the 3 columns are:")
print (answer)

The standard deviations of the 3 columns are:
Score1    17.446021
Score2    17.653225
Score3    14.355603
dtype: float64

### 3. Create a Dataframe using List given below:
- lis=[‘Python’,’Numpy’,’Pandas’]

In [7]:
# import pandas as pd
import pandas as pd

# list of strings
lst = ['python', 'Numpy', 'Pandas']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df

        0
0  python
1   Numpy
2  Pandas

### 4. Create a Series from dictionary given below: info = {'x' : 0., 'y' : 1., 'z' : 2.}

In [3]:
#import the pandas library   
import pandas as pd  
import numpy as np  
info = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info)  
print (a)

x    0.0
y    1.0
z    2.0
dtype: float64

### 5. How will you create an empty Dataframe in Pandas?

In [8]:
# import pandas library
import pandas as pd

# create an empty dataframe
my_df = pd.DataFrame()

# show the dataframe
my_df

Empty DataFrame
Columns: []
Index: []

### 6. i) Add a column to that pandas Dataframe that you created in Q1 ii) Change index of that Dataframe.

In [19]:
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['bansari', 'deepak', 'simran', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
# Using DataFrame.insert() to add a column
df.insert(2, "Age", [21, 23, 24, 21], True)
df

      Name  Height  Age Qualification
0  bansari     5.1   21           Msc
1   deepak     6.2   23            MA
2   simran     5.1   24           Msc
3     Anuj     5.2   21           Msc

### 7. Get the following from this dataframe:

- import random
- A = [ random.randint(0,100) for i in range(10) ]
- B = [ random.randint(0,100) for i in range(10) ]
- df = pd.DataFrame({ 'field_A': A, 'field_B': B })
- i) mean
- ii) median
- iii) mode
- iv) 75th percentile
- v) 90th percentile
- vi) 99th percentile

In [94]:
import pandas as pd
import random

A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]

df = pd.DataFrame({ 'field_A': A, 'field_B': B })
df
#    field_A  field_B
# 0       90       72
# 1       63       84
# 2       11       74
# 3       61       66
# 4       78       80
# 5       67       75
# 6       89       47
# 7       12       22
# 8       43        5
# 9       30       64

df.field_A.mean()   # Same as df['field_A'].mean()
# 54.399999999999999

df.field_A.median() 
# 62.0

46.0

### 8. How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [86]:
data = { 
        'node1': [2,2,2,3,3,5,5],
        'node2': [8,16,22,5,25,10,77],
        'weight': [1,1,1,1,1,1,1], }
df = pd.DataFrame(data, columns = ['node1','node2','weight'])
df["node1"].value_counts()
df['node1'].nunique()

3

In [82]:
df = pd.DataFrame([[1, 2], [2, 3], [1, 2]], columns = ["a", "b"])
df = df.drop_duplicates()
print(df)

   a  b
0  1  2
1  2  3

### 9. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’? Take the following as input.

- np.random.RandomState(100)
- ser = pd.Series(np.random.randint(1, 5, [12]))

In [79]:
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     3
1     4
2     2
3     3
4     3
5     3
6     2
7     4
8     3
9     4
10    4
11    4
12    3
13    4
14    3
dtype: int32
Top 2 Freq: 3    7
4    6
2    2
dtype: int64
0         3
1     Other
2     Other
3         3
4         3
5         3
6     Other
7     Other
8         3
9     Other
10    Other
11    Other
12        3
13    Other
14        3
dtype: object

### 10. A DataFrame has a column of groups 'grps' and and column of integer values 'vals':

### df = pd.DataFrame({'grps':
### list('aaabbcaabcccbbc'),
### 'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235, 21, 57, 3, 87]})

#### For each group, find the sum of the three greatest values. You
#### should end up with the answer as follows:

#### grps
- a 409
- b 156
- c 345

In [77]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

### Create a dataframe for the following to answer the next few questions
- data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat','snake', 'cat', 'dog', 'dog'],
- 'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
- 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
- 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no','no']}
- labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [36]:
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 11. Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame).

In [33]:
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

### 12. Select the rows where the age is between 2 and 4 (inclusive).

In [34]:
df[df['age'].between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

### 13. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [35]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 14. Select the rows where the age is missing, i.e. it is NaN.

In [37]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 15. Select the rows where the animal is a cat and the age is less than 3.

In [38]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [ ]:
import pandas as pd

### 15. Select the rows where the animal is a cat and the age is less than 3.

In [92]:
df.loc['f','age'] = 1.5

### 17. In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')

### 18. Count the number of each type of animal in df.

In [ ]:
df['animal'].value_counts()

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [ ]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

### 20. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [60]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN