## 1. Define different types of variables (integer, boolean,string, float, complex) and print their values and their types

In [1]:
#Integer data type
a = 3
b = 5
print(type(a))
add = a + b
sub = b - a
mul = a * b
div = a / b
exp = a ** b

print(add)
print(sub)
print(mul)
print(div)
print(exp)

<class 'int'>
8
2
15
0.6
243

In [2]:
#Float data type
a = 3.5
b = 5.2
print(type(a))
add = a + b
sub = b - a
mul = a * b
div = a / b
exp = a ** b

print(add)
print(sub)
print(mul)
print(div)
print(exp)

<class 'float'>
8.7
1.7000000000000002
18.2
0.673076923076923
674.7669933054266

In [7]:
#Boolean data type
a = 9
b = 20
print(a > b)
print(b > a)
print(a == b)
print(type(a > b))
print(type(b > a))
print(type(a == b))

False
True
False
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [8]:
#string data type
Firstname = "Bansari"
Lastname = "Thakkar"
fullname = Firstname + " " + Lastname
print(fullname)
print(type(fullname))

Bansari Thakkar
<class 'str'>

In [9]:
#Complex data type
z1 = 2
z2 = 4j
print(z1 + z2)
print(type(z1 + z2))

(2+4j)
<class 'complex'>

## 2. In the above question convert float variable into integer type and integer variable into str type.

In [11]:
# coverting float to integer
a = 3.5
b = 5.2
print(int(a))
print(int(b))

3
5

In [97]:
num = 10

# check and print type of num variable 
print(type(num)) 

# convert the num into string 
converted_num = f'{num}'

# print type of converted_num 
print(type(converted_num))

<class 'int'>
<class 'str'>

In [100]:
raw_user_age = int(input("What is your age? "))

print(type(raw_user_age))

print(raw_user_age + 7)

What is your age? 12
<class 'int'>
19

## 3. What will you get converting “abc” into boolean ?

In [14]:
a_string = "abc"
true_boolean = bool(a_string)

print(true_boolean)
print(type(true_boolean))

True
<class 'bool'>

## 4. Print the substring from index 2 to index 4 for any given string. For example (llo) from “Hello World”

In [22]:
x = "brickss!"
x[2:]
'ickss!'
x[:2]
'br'
x[:-2]
'bricks'
x[-2:]
's!'
x[2:-3]
'ick'
print(x[2:-3])

ick

## 5. Write a program to check a substring in a given string.For example 'e' is present in the word 'Umbrella'

In [50]:
str="Safa Mulani is a student of Engineering discipline."
sub1="Safa"
sub2="Engineering"
 
print(str.find(sub1)) 
 
print(str.find(sub2))

0
28

In [51]:
str="Umbrella"
sub1="e"
print(str.find(sub1))

4

## 6. Use the correct comparison operator to check if 5 is not equal to 10.

In [32]:
a = 5
b = 10
if ( a == b ):
    print(" a is equal to b")
else:
    print("Line 2 - a is not equal to b")
if ( a < b ):
    print("Line 3 - a is less than b")
else:
    print("Line 4 - a is not less than b")

Line 2 - a is not equal to b
Line 3 - a is less than b

In [33]:
a = 5
b = 10
if ( a == b ):
    print(" 5 is equal to 10")
else:
    print("5 is not equal to 10")

5 is not equal to 10

## 7. Write a program to get a string from the user and sort the words of the string in alphabetical order.

In [23]:
my_str = "Hello this is my python book"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]

# sort the list
words.sort()

# display the sorted words

print("Hello this is my python book:")
for word in words:
   print(word)

Hello this is my python book:
book
hello
is
my
python
this

## 8. Join two words using special characters like ‘ – ‘ ,’#’

In [93]:
s1 = 'True'
s2 = 'Friend'

print('Concatenated String using join() =', "".join([s1, s2]))

print('Concatenated String using join() and whitespaces =', " ".join([s1, s2]))

Concatenated String using join() = TrueFriend
Concatenated String using join() and whitespaces = True Friend

## 9. Find all occurrences of “INDIA” in a given string ignoring the case.input_str = "Welcome to INDIA. india is awesome.

In [89]:
inputString = "Welcome to INDIA. india is awesome"
substring = "INDIA"
tempString = substring.upper()

print(tempString)

INDIA

## 10. Replace first two ‘l’ with ‘n’ in ‘Hello World’

In [39]:
old_string = "Hello World"

string_list = list(old_string)
string_list[2] = "n"
string_list[3] = "n"
new_string = "".join(string_list)
print(new_string)

Henno World

## 11. Write a program that takes your full name as input and displays the abbreviations of the first and middle namesexcept the last name which is displayed as it is. Forexample, if your name is Robert Brett Roser, then theoutput should be R.B.Roser.

In [60]:
a = "Bansari Jatin Thakkar"
a = a.split()
b = a[0][0]+". "+a[1][0]+". "+a[2]
print(b)

B. J. Thakkar

## 12. Write a program to check if a given string is a Palindrome.A palindrome reads the same from front and back e.g.aba, ccaacc, mom, etc.

In [ ]:
x = "malayalam"
 
w = ""
for i in x:
    w = i + w
 
if (x == w):
    print("Yes")
else:
    print("No")